body{
  margin:0px;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}


.top-wrapper {
  padding:0px;
  background-image: url("img/Yu.JPG");
  background-size:100%;
  background-repeat:no-repeat;
  text-align: center;
  margin-top:100px;
  height:1500px;
}
.top-wrapper2 {
  padding:0px;
  background-image: url("img/get.jpg");
  background-size:100%;
  background-repeat:no-repeat;
  text-align: center;
  margin-top:100px;
  height:1500px;
}
.top-wrapper3 {
  padding:0px;
  background-image: url("img/nalu.JPG");
  background-size:100%;
  background-repeat:no-repeat;
  text-align: center;
  margin-top:100px;
  height:1500px;
}

.top-ttl {
  opacity: 0.7;
  font-size: 35px;
  letter-spacing: 5px;
  margin:0px;
  font-family:'Haettenschweiler';
}

.btn {
  padding: 8px 24px;
  color:#fff;
  font-size:50px;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
  margin:30px;
}

.btn:hover {
  opacity: 1;
}






header {
  height: 100px;
  width: 100%;
  background-color: rgba(0, 0, 120, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.header-logo{
  float:left;
  width:190px;
}

/*.header-right{
	float:right;
}*/

.header-right-item{
  margin:0px;
  color:rgba(200,0,0,0.7);
  display:inline-block;
  vertical-align:bottom;
}

/*ハンバーガーメニュー*/
/*ナビメニューのスタイルを指定*/
.NavMenu{
	position:fixed;
	z-index:2;
	top:-20px;
	left:0;
	color:#000;
	text-align:center;
	width:100%;
	transform:translateY(-100%);
	transition:all 0.6s;
}

.NavMenu ul{
	background-color:#3a3a3a;
	width:40%;
	margin-left:auto;
	margin-top:0;
	padding:0;
}

.NavMenu ul li{
	color:#fff;
	font-size:25px;
	list-style-type:none;
	padding:0;
	width:100%;
	border-bottom:1px dotted #333;
}

.NavMenu ul li:last-child{
	padding-bottom:0;
	border-bottom:none;
}

.NavMenu ul li a{
	display:block;
	color:#fff;
	padding:1em 0;
}

.NavMenu.active{
	transform:translateY(0%);
}

.Toggle{
	display:block;
	position:fixed;
	right:13px;
	top:12px;
	width:42px;
	height:42px;
	cursor:pointer;
	z-index:3;
}

.Toggle span{
	display:block;
	position:absolute;
	width:30px;
	border-bottom:solid 3px #fff;
	/*-webkit-transition:35s ease-in-out;
	-moz-transition:35s ease-in-out;
	transition:35s ease-in-out;*/
	left:6px;
}

.Toggle span:nth-child(1){
	top:9px;
}

.Toggle span:nth-child(2){
	top:18px;
}

.Toggle span:nth-child(3){
	top:27px;
}

.Toggle.active span:nth-child(1){
	top:18px;
	left:6px;
	-webkit-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	transform:rotate(-45deg);
}


.Toggle.active span:nth-child(2),
.Toggle.active span:nth-child(3){
	top:18px;
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	transform:rotate(45deg);
}



.instagram{
  margin-right:50px;
}

i:hover{
  opacity:1;
}

.video{
	position:relative;
	padding-bottom:56.25%;
	width:80%;
	margin:0px auto;
}

.video iframe{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}


.news{
  text-align:center;
  /*height:1000px;*/
}

.news h2{
  margin:40px 0px;
  font-size:30px;
  font-weight:bold;
}


.d-logo{
  width:10%;
}

 .news-items{
	 display:flex;
	 flex-wrap:wrap;
	 margin-bottom:20px;
 }

/* .news-item{
  width:100%;
}  */

.news-item img{
  width:100%;
}


#form{
	background-color:#ebb94d;
	text-align:center;
	padding:30px 0px;
}

.form-ttl{
	font-size:30px;
	color:#000;
	font-weight:bold;
	margin-bottom:0;
}

.form-txt{
	font-size:17px;
	letter-spacing:3px;
	color:#000;
	font-weight:bold;
}

.form-btn{
	width:80%;
	height:55px;
	border-radius:10px;
	padding:10px;
	margin-bottom:25px;
	border:none;
}

#form1 textarea{
	height:100px;
}

.submit-btn{
	background-color:#da6b64;
	opacity:0.9;
	color:#fff;
	font-weight:600;
	font-size:23px;
	padding:10px 80px;
	border-radius:50px;
	width:80%;
	border:none;
}

.submit-btn:hover{
	opacity:1;
}

#form1{
	margin:20px auto;
}


footer{
  padding-bottom:20px;
  text-align:center;
  background-color:#666;
}

footer img{
  margin-top:30px;
}

.contact{
  font-size:30px;
  border-bottom:5px solid #000;
  display:inline-block;
}

.contact a{
	color:#000;
	font-size:25px;
}

.quote{
  font-size:15px;
  color:#000;
}


/*pagetop*/
.pagetop{
	cursor:pointer;
	position:fixed;
	bottom:90px;
	right:50px;
	background-color:#ececec;
	padding:20px;
	display:block;
}

.fa-chevron-up{
	font-size:30px;
}

.iframe-wrap {
  position: relative;
  width: 100%;
  padding-top: 75%; /* = height ÷ width × 100 */
}
.iframe-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}